<div class="no-print">
    <iframe
        src="https://scratch.mit.edu/projects/{{ include.id }}/embed"
        allowtransparency="true"
        width="{{ include.width | default: 800 }}"
        height="{{ include.height | default: 663 }}"
        frameborder="0"
        scrolling="no"
        allowfullscreen
        title="Scratch project {{ include.id }}">
    </iframe>
    <p>
        <a href="https://scratch.mit.edu/projects/{{ include.id }}" class="btn btn--large btn--scratch">See in Scratch</a>
    </p>
</div>
